p {
    background-color: rgb(0, 191, 255);
    border-radius: 10px;
    padding: 5px;
}

h2 {
    background-color: rgb(0, 191, 255);
    border-radius: 10px;
    padding: 5px;
}

h3 {
    background-color: orange;
    border-radius: 10px;
    padding: 5px;
}

.list {
    width: 45%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 200px;
    max-height: 635px; /* Thiết lập chiều cao tối đa */
    overflow-y: auto; /* Cho phép cuộn dọc */
  }